#nav{
    width: 300px;
    background: #a0a0a0;
}

.title{
    font-size: 18px;
    font-weight: bold;
    text-indent: 1em;
    line-height: 35px;
    background: red url("../images/敖丙.jfif") 265px 1px no-repeat;

}
ul li{
    height: 30px;
    list-style: square;
    text-indent: 1em;
    background: #a0a0a0;
}
a{
    text-decoration: none;
    font-size: 14px;
    color:#000;
}
a:hover{
    color: orange;
    text-decoration: underline;
}




























